.main{
    width: 700px;
    margin: 0 auto;
    text-align: justify;
}
.main div {
    margin-bottom: 20px;
    border: 1px solid #707070;
    padding: 20px;
}
.main p {
    margin: 10px 0 ;
}
.main h2 {
    padding: 0;
    margin: 0;
}
.main .more {
    text-align: right;
    padding-right: 20px;
}
.main a:link, .main a:visited {
    text-decoration: none;
}