#face {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #4DEE99;
    position: relative;
}
#face #eye1 {
    width: 100px;
    height: 100px;
    top: 70px;
    left: 100px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
}
#face #eye2 {
    width: 100px;
    height: 100px;
    top: 70px;
    right: 100px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
}
#face #nose {
    width: 70px;
    height: 70px;
    top: 200px;
    right: 215px;
    background-color: white;
    position: absolute;
}
#face #mouth {
    width: 200px;
    height: 20px;
    top: 350px;
    right: 150px;
    background-color: white;
    position: absolute;
}