ul {
    margin: 0px;
    padding: 0px;
}
ul.test li {
    margin: 0px;
    display: inline;
}
.menu a:link, .menu a:visited {
    font: 13px Arial;
    text-decoration: none;
    color: #0000ff;
    border: 1px solid #0000ff;
    padding: 5px;
}
.menu a:hover {
    color: #ff0000
}