ul {
    list-style-type: none;
    list-style-position: inside;
    padding: 0px;
    margin: 0px;
    width: 200px;
}
.menu li {
    margin-bottom: 5px;
}
.menu a:link, .menu a:visited {
    border: 1px solid black;
    text-decoration: none;
    font: 13px/30px Arial;
    padding: 0px 5px;
    font-weight: bold;
    display: block;
    color: #ffffff;
    background-color: #484848;

}
.menu a:hover {
    color: #000000;
    background-color: #ffffff;
}