ul {
    margin: 0px;
    padding: 0px;
}
ul.test li {
    display: inline;
}
.menu a:link, .menu a:visited {
    font: 13px Arial;
    text-decoration: none;
    padding: 5px;
    color: #0000ff;
    border: 1px solid #0000ff;
}
.menu a:hover, .menu a:link.active, .menu a:visited.active {
    color: #ffffff;
    background-color: #484848;
    border: 1px solid #000000;
}