#wrapper {
    border: 1px solid black;
    width: 1000px;
    margin: 0 auto;
    padding: 40px;
}
.left {
    width: 200px;
    float: left;
    outline: 1px solid black;
}
.right {
    width: 200px;
    float: right;
    outline: 1px solid black;
}
.content {
    margin: 0 240px;
    outline: 1px solid black;
}

#header div, #footer div {
    height: 200px;
}
#middle div {
    height: 500px;
}
#middle {
    margin: 40px 0;
}