.main {
    width: 700px;
    margin: 10px auto;
    padding: 0 15px;
    border: 1px solid #000;
    text-align: center;
}
.main h1 {
    padding: 0;
    margin: 0;
}
.main p {
    font: 13px/27px Arial;
    text-indent: 50px;
    text-align: justify;
}
.main .more {
    text-align: right;
    padding-right: 20px;
}
.main a {
    text-decoration: none;
}

/*link & visited*/

.main h2 a:link, h2 a:visited{
    color: #E7458D;
}
.main a.text:link, a.text:visited{
    color:  #008800;
    font-weight: bold;
}
.main .more a:link, .more a:visited {
    color: #E7458D;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}
/*hover*/
.main h2 a:hover {
    color: #000;
    text-decoration: underline;
}
.main a.text:hover {
    color: #ff0000;
    text-decoration: underline;
}
.main .more a:hover {
    color: #fff;
    background-color: #E7458D;
}
