#wrapper {
    width: 900px;
    margin: 0 auto;
}
#header {
    min-height: 200px;
}
#content {
    min-height: 400px;
}
#footer {
    min-height: 200px;
}
#header, #content, #footer {
    border: 1px solid black;
}