#wrapper {
    border: 1px solid black;
    width: 70%;
    min-width: 600px;
    max-width: 1200px;
    margin: 0 auto;
}
#header {
    border: 1px solid black;
    height: 200px;
}
#left {
    outline: 1px solid black;
    float: left;
    height: 500px;
    width: 200px;
}
#right {
    outline: 1px solid black;
    float: right;
    height: 500px;
    width: 200px;
}
#content {
    outline: 1px solid black;
    margin: 0 200px;
    height: 500px;
}
#footer {
    border: 1px solid black;
    height: 200px;
}
.clearfix {
    clear: both;
}