#wrapper {
    border: 1px solid black;
    width: 800px;
    margin: 0 auto;
}
#header, #footer {
    border: 1px solid black;
    min-height: 200px;
}
#sidebar {
    outline: 1px solid black;
    float: left;
    width: 200px;
    min-height: 500px;
}
#content {
    outline: 1px solid black;
    float: left;
    width: 600px;
    min-height: 500px;
}
.clearfix{
    clear: both;
}