#wrapper {
    border: 1px solid black;
    width: 1000px;
    margin: 0 auto;
}
#header {
    border: 1px solid black;
    height: 200px;
    margin-bottom: 20px;
    position: relative;
}
#menu {
    height: 30px;
    width: 500px;
    position: absolute;
    left: 150px;
    top: 80px;
    border: 1px solid black;
}
#left{
    float: left;
    width: 200px;
    min-height: 700px;
    margin-left: 20px;
}
.sidebar-left {
    border: 1px solid black;
    height: 200px;
    margin-bottom: 20px;
}
#right{
    float: right;
    outline: 1px solid black;
    width: 200px;
    min-height: 700px;
    margin-right: 20px;
}

#content {
    outline: 1px solid black;
    height: 700px;
    margin: 0 240px;
}
#footer {
    border: 1px solid black;
    height: 200px;
    margin-top: 20px;
}
.clearfix{
    clear: both;
}
