div {
    margin: 20px;
}
.first {
    width: 200px;
    height: 200px;
    border: 1px solid red ;
}
.second {
    width: 500px;
    height: 200px;
    border: 1px dotted blue ;
}
.third {
    width: 100px;
    height: 100px;
    border: 1px dashed green ;
}
.fourth {
    width: 500px;
    height: 200px;
    border-top: 1px solid blue ;
    border-bottom: 1px solid red ;
    border-left: 1px solid black ;
    border-right: 1px solid green ;
    border-radius: 20px;
}
.fifth {
    width: 300px;
    height: 300px;
    border: 1px dashed green;
    border-radius: 10px 30px;
}
.sixth {
    width: 300px;
    height: 300px;
    border: 1px dotted green;
    border-radius: 10px 30px 50px 70px;
}
.seventh {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    border-radius: 50px;
}