a:link.first, a:visited.first {
    text-decoration: none;
    color: blue;
}
a:hover.first {
    text-decoration: underline;
    color: green;
}
a:link.second, a:visited.second {
    text-decoration: underline;
    color: red;
}
a:hover.second {
    text-decoration: line-through;
    color: blue;
}
a:link.third, a:visited.third {
    text-decoration: none;
    color: black;
}
a:hover.third {
    text-decoration: overline;
    color: red;
}