body {
    background: black url(../images/block_5.jpg) no-repeat left top;
}
h1, p {
    width: 500px;
    color: #fff;
}
h1 {
    text-align: center;
}
p {
    text-align: justify;
    font-size: 20px;
}